@import "~common/css/_variables.scss";
.menu {
  width: 200px;
  height: 100%;
  font-size: $fz14;
  border-right: 1px solid #e5e6ea;
  .menu_list {
    width: 100%;
    a {
      display: block;
      &:hover {
        color: $c353741;
      }

      li {
        line-height: 40px;
        padding-left: 20px;
        position: relative;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    h3 {
      padding-left: 10px;
      line-height: 50px;
      color: $c999;
    }
  }
  .menu_list_active {
    position: relative;
    background-color: rgba(230, 231, 234, 1);
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 4px;
      height: 100%;
      background-color: #c62f2f;
    }
  }
}
