@import "~@common/css/_variables.scss";
.find {
  width: 100%;
  height: 100%;
  overflow: hidden;

  // 个性推荐 // 排行榜 // 歌手
  .find_box {
    // max-width: 1200px;
    max-width: 1020px;
    // min-width: 850px;
    margin: 0 auto;
    padding: 20px 30px;
  }
}
