@import "~@common/css/_variables.scss";

.player {
  position: fixed;
  bottom: 70px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: calc(100vh - 130px);
  transform-origin: left bottom;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: #fff;

  .player_content {
    width: 1020px;
    margin: 0 auto;

    .top {
      display: flex;
      height: 500px;
    }

    .top_content {
      width: 50%;
      overflow: hidden;

      &.album {
        position: relative;
        display: flex;
        justify-content: center;

        .arm {
          position: absolute;
          top: -4px;
          z-index: 99;
          left: 250px;
          width: 70px;
          height: 124px;
          transform: rotate(-45deg);
          transform-origin: left top;
          transition: all 0.5s ease;
          background: url("~@common/images/arm.png") center center / cover no-repeat;

          &.active {
            top: -19px;
            left: 260px;
            transform: rotate(0deg);
          }
        }

        .album_img {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 320px;
          height: 320px;
          margin-top: 50px;
          border-radius: 50%;
          background: url("~@common/images/albums.png") center center / cover no-repeat;
          box-shadow: inset 0 0 4px 4px #EFEFEF;


          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
          }
        }
      }

      &.lyric {

        .name {
          color: $c333;
          padding: 30px 0;

          p {
            font-size: $fz24;
          }

          div {
            margin-top: 20px;
            display: flex;

            p {
              max-width: 50%;
              padding-right: 20px;
              font-size: $fz14;

              span {
                color: #0071fb;
                max-width: 50%;
                padding-right: 20px;
                font-size: $fz14;

                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .lrc_content {
          height: 330px;
          overflow: hidden;

          .area {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
          }


          ul {
            li {
              font-size: $fz12;
              line-height: 2;

              &.aa {
                color: $cec4141;
                font-size: 15px !important;
                transition: all 0.5s ease-in-out 0s;
              }

              &.bb {
                color: #333;
                transition: all 0.5s ease-in-out 0s;
              }
            }
          }
        }
      }
    }

    // .buttom {}
  }
}