$fz12: 12px;
$fz13: 13px;
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz24: 24px;
$fz36: 36px;
$fz48: 48px;

$c666: #666;
$c888: #888;
$c999: #999;
$cfff: #fff;
$c353741: #353741;
$cc62f2f: #c62f2f;
$cFF4400: #ff4400;
