@import "~@common/css/_variables.scss";

.singer {
  // 歌手列表
  .singer_list {
    margin-top: 10px;
    padding-top: 30px;
    border-top: 1px solid #e5e6ea;
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
      li {
        position: relative;
        width: calc(20% - 20px);
        margin: 0 0 20px 0;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        &:not(:nth-child(5n + 1)) {
          margin-left: 25px;
        }
        .positioning {
          position: relative;
          width: 100%;
          padding: 100% 0 0 0;
          background-color: #fff;
          // border: 1px solid #e5e6ea;
          box-shadow: inset 0 0 4px 0 #e5e6ea;
          overflow: hidden;
          .box {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  // loading
  .loading {
    display: table;
    margin: 0 auto;
    height: 80px;
  }
}
