@import "~@common/css/_variables.scss";

.play_all_1 {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("~@images/icon_play.png") center center / 40px no-repeat;
}

.play_all_2 {
  display: table;
  padding: 8px 20px;
  color: $cfff;
  font-size: $fz14;
  background-color: $cec4141;
  cursor: pointer;
  margin: 0 0 20px 20px;
  border-radius: 20px;
}