@import "~common/css/_variables.scss";

// 导航
.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 30px 0;
  padding: 20px 0 10px;

  a {
    position: relative;
    display: block;
    margin-right: 30px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 18px;
    color: #373737;

    &:hover {
      color: #333333;
    }
  }

  .menu_list_active {
    color: $color;
    font-size: 18px;
    font-weight: 600;
    color: #333333;

    &:after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: -10px;
      width: 80%;
      height: 3px;
      transform: translateX(-50%);
      background-color: $color;
    }
  }
}