@import "~common/css/_variables.scss";
// .login {}

.form {
  user-select: none;

  .btn {
    :global {
      .ant-btn {
        width: 100%;
        height: 36px;
        border: none;
        color: initial;

        &:active,
        &:hover,
        &:focus {
          border: none;
          box-shadow: none !important;
        }
      }
    }

    .submit {
      margin-bottom: 24px;
      color: #fff !important;
      background-color: $color;

      &.disabled {
        background-color: $color5;
      }

      &:active,
      &:hover,
      &:focus {
        color: #fff !important;
      }
    }

    .cancel {
      color: $color;
      border: 1px solid $color !important;
    }
  }
}

.login_nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  line-height: 52px;
  padding-left: 24px;
  user-select: none;

  li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;

    &.active {
      color: $color;
      border-bottom: 4px solid $color;
    }
  }
}

.qrcode_view {
  position: relative;
  min-height: 200px;

  img {
    display: table;
    margin: auto;
    width: 200px;
    height: 200px;
    user-select: none;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 22;

    p {
      width: 100%;
      padding: 16px;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2);

      button {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 4px;
        color: #fff;
        background-color: #63C599;
      }
    }
  }

  .info {
    user-select: none;
    text-align: center;

    span {
      color: $color;
    }
  }
}