@import "~common/css/_variables.scss";

// 分类类型
.tag {
  display: flex;
  // user-select: none;
  align-items: flex-start;

  h3 {
    white-space: nowrap;
    padding: 4px 0;
    margin: 4px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      position: relative;
      padding: 4px 10px;
      margin: 4px 4px;
      border-radius: 20px;
      color: $c666;
      font-size: $fz12;
      cursor: pointer;

      &:hover {
        color: $color;
        background-color: $color1;
      }

      &.active {
        color: $color;
        background-color: $color1;

        &:hover {
          background-color: $color1;
        }
      }
    }
  }
}